<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Lainnya - SignLingoID</title>
</head>
<body>
    <div class="background">
        <div class="header">
            <img src="../static/image/Header logo2.png" class="header-logo" width="100 px" height="50 px">
            <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="/interpretasi">Interpretasi</a></li>
                <li><a href="/tentang">Tentang</a></li>
                <a href="/lainnya"><button>Lainnya</button></a>
            </ul>
        </div>
        <div class="judul">  
            <h1>Temukan Kami</h1>
            <div class="line"></div>
        </div>
        <div class="lainnya-content">
            <div class="row-clm">
                <div class="lainnya-container">
                    <div class="lainnya-col">
                        <img src="../static/image/map-pin.png" class="white-logo" width="70 px" height="70 px">
                        <p align= "center">Alamat:<br>
                            <a href="https://maps.app.goo.gl/9XM3z46yBydHbvXdA">Jl. Dr. Ir. H. Soekarno,<br> Mulyorejo, Kec. Mulyorejo,<br> Surabaya, Jawa Timur 60115</a>
                        </p>
                        <br>
                        <br>
                        <img src="../static/image/gmail.png" class="white-logo" width="70 px" height="70 px" margin-top="30 px">
                        <p align= "center">Gmail:<br>
                            <a href="mailto:SIGNLINGOID@gmail.com">SIGNLINGOID@gmail.com</a>
                        </p>
                    </div>
                    <div class="lainnya-col">
                        <img src="../static/image/insta.png" class="white-logo" width="70 px" height="70 px">
                        <p align= "center">Instagram:<br>
                            <a href="https://www.instagram.com/SIGNLINGOID/">@SIGNLINGOID</a>
                        </p>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <img src="../static/image/whatsapp.png" class="white-logo" width="70 px" height="70 px" margin-top="30 px">
                        <p align= "center">Whatsapp:<br>
                            <a href="https://wa.me/6281234567891">+62 812 3456 7891</a><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row-clm">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3957.75483445842!2d112.78166467367616!3d-7.268716192738222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7fa21a3515291%3A0x3edf1522ff735924!2sUniversitas%20Airlangga%20-%20Kampus%20C!5e0!3m2!1sid!2sid!4v1702187014594!5m2!1sid!2sid" width="450" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" align="center">
                </iframe>
            </div>
        </div> 
        <div class="footer">
            <div class="social-icons" style="display: flex; justify-content: center; align-items: center;">
                <a href="https://www.instagram.com/SIGNLINGOID/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://wa.me/6281234567891" target="_blank"><i class="fa fa-whatsapp"></i></a>
                <a href="mailto:SIGNLINGOID@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <p style="color: #ffde59;">SIGNLINGOID</p>
                        <br>
                        <p>
                            SignLingoID adalah aplikasi web yang inovatif,<br>
                            mengubah gambar isyarat tangan menjadi<br>
                            teks, menjadikan komunikasi bahasa isyarat<br>
                            lebih mudah dan efisien. 
                        </p>
                    </div>
                    <div class="footer-col">
                        <p style="color: #ffde59;">TEMUKAN KAMI!</p>
                        <br>
                        <p>
                            <img src="../static/image/map-pin.png" class="white-logo" width="15 px" height="15 px">
                            Jl. Dr. Ir. H. Soekarno, Mulyorejo, Kec.<br> Mulyorejo, Surabaya, Jawa Timur 60115
                        </p>
                        <p>
                            <img src="../static/image/gmail.png" class="white-logo" width="15 px" height="15 px">
                            SIGNLINGOID@gmail.com
                        </p>
                        <p>
                            <img src="../static/image/phone.png" class="white-logo" width="15 px" height="15 px">
                            +62 812 3456 7891
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
