<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tentang - SignLingoID</title>
</head>
<body>
    <div class="background">
        <div class="header">
            <img src="../static/image/Header logo2.png" class="header-logo" width="100 px" height="50 px">
            <ul>
                <li><a href="/">Beranda</a></li>
                <li><a href="/interpretasi">Interpretasi</a></li>
                <a href="/tentang"><button>Tentang</button></a>
                <li><a href="/lainnya">Lainnya</a></li>
            </ul>
        </div>
        <div class="judul">  
            <h1>Tentang Creator</h1>
            <div class="line"></div>
        </div>
        <div class="tentang-content">
            <div class="row">
                <div class="col">
                    <img src="../static/image/CreatorA.JPEG" class="creator-logo">
                    <h2>Raden Bagus Rifai Kacanegara</h2>
                </div>
                <div class="col">
                    <img src="../static/image/CreatorB.JPG" class="creator-logo">
                    <h2>Viky Dwi Thaniya</h2>
                </div>
                <div class="col">
                    <img src="../static/image/CreatorC.JPEG" class="creator-logo">
                    <h2>Nismara Andini</h2>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="social-icons" style="display: flex; justify-content: center; align-items: center;">
                <a href="https://www.instagram.com/SIGNLINGOID/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://wa.me/6281234567891" target="_blank"><i class="fa fa-whatsapp"></i></a>
                <a href="mailto:SIGNLINGOID@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="footer-col">
                        <p style="color: #ffde59;">SIGNLINGOID</p>
                        <br>
                        <p>
                            SignLingoID adalah aplikasi web yang inovatif,<br>
                            mengubah gambar isyarat tangan menjadi<br>
                            teks, menjadikan komunikasi bahasa isyarat<br>
                            lebih mudah dan efisien. 
                        </p>
                    </div>
                    <div class="footer-col">
                        <p style="color: #ffde59;">TEMUKAN KAMI!</p>
                        <br>
                        <p>
                            <img src="../static/image/map-pin.png" class="white-logo" width="15 px" height="15 px">
                            Jl. Dr. Ir. H. Soekarno, Mulyorejo, Kec.<br> Mulyorejo, Surabaya, Jawa Timur 60115
                        </p>
                        <p>
                            <img src="../static/image/gmail.png" class="white-logo" width="15 px" height="15 px">
                            SIGNLINGOID@gmail.com
                        </p>
                        <p>
                            <img src="../static/image/phone.png" class="white-logo" width="15 px" height="15 px">
                            +62 812 3456 7891
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
